.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f9;
  min-height: 100vh;
  padding: 20px;
}

.mainHeading h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.input input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.input i {
  background-color: #007bff;
  color: white;
  padding: 12px 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input i:hover {
  background-color: #0056b3;
}

.todos {
  width: 100%;
  max-width: 400px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.todo:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.left {
  display: flex;
  align-items: center;
}

.left input {
  margin-right: 10px;
}

.left p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.right i {
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.right i:hover {
  color: #0056b3;
}

.edit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.edit-page input,
.edit-page button {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-page button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.edit-page button:hover {
  background-color: #0056b3;
}

.urgentWork {
  padding: 12px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; 
}


.urgentWork h2 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #d32f2f; 
}

.urgentWork ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.urgentWork li {
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  background-color: #fff3f3;
  color: #333;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
